@model IEnumerable<JobPosting>

@{
    ViewData["Title"] = "Job Postings";
}

<h1 class="text-center m-5">All Jobs</h1>

<div class="list-group">
    @foreach(var jobPosting in Model)
    {
        <div class="list-group-item">
            <h3>@jobPosting.Name</h3>
            <p>@jobPosting.Description</p>
            <p><strong>Company:</strong> @jobPosting.Company</p>
            <p><strong>Location:</strong> @jobPosting.Location</p>
            <p><strong>Posted Date:</strong> @jobPosting.CreatedDate.ToShortDateString()</p>
        </div>
    }
</div>